* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 400;
}

.stop {
    display: flex;
    justify-content: center;
    position: relative;
    left: 146px;;
    margin: 10px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}